body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Add this CSS to your stylesheet */

/* Style for the container of the list */
.icon-list-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px; /* Adjust as needed */
}

/* Style for the list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style for each list item */
.li_spacing {
  display: inline-block;
  margin-right: 30px; /* Adjust as needed */
}

/* Style for the icon images */
.icon {
  width: 40px; /* Adjust the width of the icons */
  height: auto; /* Maintain aspect ratio */
}
